<!DOCTYPE html>
<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
      <link href="./css/main.css" rel="stylesheet" />
      <title>Document</title>
    </head>
    <body>
      <div class="content">
        <div class="header_back">
        </div>

        <div class="margin_medal">
          <div class="medal">
          </div>
        </div>

        <div class="emblem">
          <div class="crest">
          </div>
          <span class="showin">Showin</span>
        </div>

        <div class="ribbon">
          <div class="name-content">
            <span class="sc_year">[sc_year]{.sc_year}</span>
            <div class="name-group">
              <div class="last_name">
                [last_name]{.last_name}
              </div>
              <div class="first_name">
                [first_name]{.first_name}
              </div>
            </div>
            <span class="honorific">さん</span>
          </div>
        </div>

        <div class="twinkle">
        </div>

        <span class="subject">[subject]{.subject}</span>
        <span class="test_name">[test_name]{.test_name}</span>
        <!-- 点数表示部分 -->
        <div class="score-container">
          <span class="score">[score]{.score}</span>
          <span class="point">点</span>
        </div>
      </div>
    </body>
</html>